/*------------------------------------*\
    $BASE DEFAULTS
\*------------------------------------*/

// Box Sizing
*,
*::before,
*::after {
    box-sizing: border-box;
}

// Prevent text size change on orientation change.
// sass-lint:disable no-vendor-prefixes
html {
    font-family: $font--primary;
    -webkit-text-size-adjust: 100%;
}

body {
    overflow-x: hidden;
    color: #fff;
    background-color: #09061b;
}

// Prevent empty space below images appearing
img,
svg {
    vertical-align: top;
}

// sass-lint:disable single-line-per-selector
button, input, select, textarea {
    font-family: inherit;
}
// sass-lint:enddisable

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
}

.app {
    display: flex;

    @include media-query(tablet) {
        display: block;
    }

    &--timesheet {
        display: block;
        height: 100vh;
        padding: 30px 50px;
        overflow: auto;
        background-color: #120d2f;

        @include media-query(tablet) {
            padding: 30px;
        }
    }
}
