/*------------------------------------*\
    $BASE DEFAULTS
\*------------------------------------*/

// Box Sizing
*,
*::before,
*::after {
    box-sizing: border-box;
}

// Prevent text size change on orientation change.
// sass-lint:disable no-vendor-prefixes
html {
    font-family: $font--primary;
    -webkit-text-size-adjust: 100%;
}

body {
    overflow-x: hidden;
    background-color: #76bfbf;
}

// Prevent empty space below images appearing
img,
svg {
    vertical-align: top;
}

// sass-lint:disable single-line-per-selector
button, input, select, textarea {
    font-family: inherit;
}
// sass-lint:enddisable

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}
