/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/

.button {
    position: relative;
    display: inline-block;
    padding: 9px 15px;
    margin: 0 10px 10px 0;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #f0eef9;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #777094;
    transition: border-color $default-transition-speed ease, background-color $default-transition-speed ease, color $default-transition-speed ease;

    &:hover,
    &:focus {
        color: #09061b;
        background-color: #fff;
        border-color: #09061b;
        outline: 0;
    }

    @include media-query(mobile) {
        width: 100%;
        margin-right: 0;
    }
}
