/*------------------------------------*\
    $MODAL
\*------------------------------------*/

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: none;
    width: 100%;
    height: 100%;
    background-color: #120D2F;
}
