/*------------------------------------*\
    $MODAL
\*------------------------------------*/

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: none;
    width: 100%;
    height: 100%;
    background-color: #120d2f;

    @include media-query(tablet) {
        overflow: auto;
    }

    &__inner {
        position: relative;
        top: 50%;
        width: 600px;
        padding: 40px;
        margin: auto;
        border: 1px solid #2c245a;
        transform: translateY(-50%);

        @include media-query(tablet) {
            position: static;
            top: auto;
            width: 100%;
            padding: 50px 30px 30px;
            border: 0;
            transform: none;
        }
    }

    label {
        display: block;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 1px;
        color: #b3b3c1;
        text-transform: uppercase;
    }

    input[type='text'],
    input[type='number'] {
        @include placeholder-text {
            color: #f0eef9;
            transition: color $default-transition-speed ease;
        }

        width: 100%;
        padding: 10px;
        margin: 7px 0 30px;
        color: #d7d0f5;
        background-color: transparent;
        border: 1px solid #777094;
        transition: border-color $default-transition-speed ease;

        &:focus {
            @include placeholder-text {
                color: #a8a0ca;
            }

            color: #f0eef9;
            border-color: #a8a0ca;
            outline: 0;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__save {
        margin-bottom: 0;
    }

    &__cancel {
        margin-bottom: 0;

        @include media-query(tablet) {
            margin-bottom: 15px;
        }
    }

    &__close {
        position: absolute;
        top: -16px;
        right: -26px;
        width: 30px;
        height: 30px;
        background-color: #120d2f;

        &:hover,
        &:focus {
            background-color: #7265bb;
            border: 1px solid #777094;
            outline: 0;

            &::before,
            &::after {
                background-color: #120d2f;
            }
        }

        &::before,
        &::after {
            position: absolute;
            left: 5px;
            width: 20px;
            height: 1px;
            background-color: #fff;
            content: '';
            transition: background-color $default-transition-speed ease;
        }

        &::before {
            transform: rotate(135deg);
        }

        &::after {
            transform: rotate(45deg);
        }

        @include media-query(tablet) {
            display: none;
        }
    }
}
