/*------------------------------------*\
    $TASK AREA
\*------------------------------------*/

.task-area {
    display: inline-block;
    width: 50%;
    height: 100vh;
    padding: 50px 100px;
    vertical-align: top;
    background-color: #120d2f;
}

.current-task {
    &__heading {
        display: none;
    }
}
