/*------------------------------------*\
    $TIMER AREA
\*------------------------------------*/

.timer-area {
    width: 50%;
    height: 100vh;
    padding-top: 70px;
    background-color: #09061b;

    @include media-query(laptop) {
        padding: 40px 30px;
    }

    @include media-query(tablet) {
        width: 100%;
        height: auto;
        min-height: 100vh;
        padding: 60px 30px 30px;
    }
}

.timer-wrapper {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border: 8px solid #9581b1;
    border-radius: 50%;
    opacity: 0.5;
    box-shadow: 0 3px 25px 5px #33204c;
    transition: border-color $default-transition-speed ease, box-shadow $default-transition-speed ease, opacity $default-transition-speed ease;

    &::before {
        position: absolute;
        top: -5px;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(45deg, #181023, #311952);
        border-radius: 50%;
        content: '';
        opacity: 0.7;
        transition: opacity $default-transition-speed ease;
    }

    &--running {
        background-image: linear-gradient(45deg, #181023, #311952);
        border-color: #d7bbff;
        opacity: 1;
        box-shadow: 0 7px 50px 10px #5b3b86;

        &::before {
            opacity: 1;
        }
    }
}
