/*------------------------------------*\
    $TIMER
\*------------------------------------*/

.timer {
    position: absolute;
    width: 100%;
    margin-top: 54px;
    font-size: 40px;
    font-weight: 200;
    color: #fff;
    text-align: center;
}

.time-list {
    margin-top: 30px;
    color: #fff;

    li {
        padding: 15px;
        margin-bottom: 30px;
        border-top: 1px solid #2c245a;
        border-bottom: 1px solid #2c245a;

        div {
            font-size: 12px;
            font-weight: 500;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
    }
}

.time-label {
    @include placeholder-text {
        color: #f0eef9;
    }

    display: none;
    width: 57%;
    padding: 10px;
    margin: 30px auto 0;
    color: #fff;
    background-color: transparent;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #777094;
    border-left: 0;

    &:focus,
    &:hover {
        outline: 0;
    }

    &--show {
        display: block;
    }
}
