/*------------------------------------*\
    $TIMER
\*------------------------------------*/

.timer {
    position: absolute;
    width: 100%;
    margin-top: 60px;
    font-family: $font--secondary;
    font-size: 40px;
    font-weight: 200;
    color: #f0e6ff;
    text-align: center;
}

.time-list {
    color: #fff;

    li {
        position: relative;
        padding: 15px 100px 15px 15px;
        margin-bottom: 20px;
        border: 1px solid #2c245a;

        @include media-query(mobile) {
            padding-right: 80px;
        }

        div {
            margin-bottom: 5px;
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 1px;
            color: #b3b3c1;
            text-transform: uppercase;

            &:last-of-type {
                margin-bottom: 0;
            }

            @include media-query(mobile) {
                margin-bottom: 20px;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }

        span {
            font-weight: 300;
            color: #fff;
            text-transform: none;

            @include media-query(mobile) {
                display: block;
            }
        }

        .edit-task,
        .delete-task {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            cursor: pointer;
            background: {
                color: transparent;
                size: contain;
                repeat: no-repeat;
            }
            border: 0;
            opacity: 0.5;
            transition: opacity $default-transition-speed ease;

            &:hover,
            &:focus {
                opacity: 1;
            }

            &:focus {
                outline: 0;
            }
        }

        .delete-task {
            right: 25px;
            width: 22px;
            height: 22px;
            background: {
                image: url('../images/bin.svg');
            }

            @include media-query(mobile) {
                right: 15px;
            }
        }

        .edit-task {
            right: 65px;
            width: 23px;
            height: 23px;
            background: {
                image: url('../images/edit.svg');
            }

            @include media-query(mobile) {
                right: 50px;
            }
        }
    }
}

.time-list-meta {
    display: none;

    &--show {
        display: block;
    }
}

.task-label,
.task-project {
    @include placeholder-text {
        color: #f0eef9;
        transition: color $default-transition-speed ease;
    }

    width: 57%;
    padding: 10px 10px 10px 0;
    margin: 30px auto 0;
    color: #fff;
    background-color: transparent;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #777094;
    border-left: 0;
    transition: border-color $default-transition-speed ease;

    &:focus {
        @include placeholder-text {
            color: #a8a0ca;
        }

        border-color: #a8a0ca;
        outline: 0;
    }

    @include media-query(mobile) {
        width: 100%;
        margin-top: 10px;
    }
}

.task-submit {
    position: absolute;
    top: -9999px;
    opacity: 0;
    visibility: hidden;
}
