/*------------------------------------*\
    $TIMER
\*------------------------------------*/

.timer {
    color: #fff;
}

.time-list {
    margin-top: 30px;
    color: #fff;

    li {
        padding: 5px 0;
        margin-bottom: 30px;
        border-top: 1px solid #565656;
        border-bottom: 1px solid #565656;
    }
}

.time-label {
    display: none;
    margin-bottom: 10px;

    &--show {
        display: block;
    }
}
